.nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }

    li {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    li a {
        display: inline-block;
        padding: 0.5em;
        text-decoration: none;
    }

    li a:hover {
        color: $highlight-color;
        background-color: $highlight-background-color;
    }


    .active a {
        color: $highlight-color;
        background-color: $highlight-background-color;
    }


}

// when width is smaller than 400 px make the list items in the nav stack
@media (max-width: 400px) {
    .nav {
        height: auto;

        ul {
            display: block;
            width: 100%;

            li {
                display: block;
                width: 100%;

                a {
                    text-align: center;
                    display: block;
                    width: 100%;
                    padding: 0.5em 0;
                }
            }
        }
    }
}