$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #cbe7c2;
$background-alternative-color: #e0fbfc;
$background-hover-color: $accent-color;
$border-color: #eee;
$border-shadow-color: #333;