div.nav {
    #nav {
        font-family: Arial, Helvetica, sans-serif;

        ul {
            margin: 0;
            padding: 0;

            li {
                padding: 0;
                
                a {
                    display: inline-block;
                    padding: 0.5em 0.5em;
                    text-decoration: none;
                }
                a:hover {
                    background-color: $background-hover-color;
                }
            }
            li.active {
                a {
                    background-color: $background-alternative-color;
                }
            }

        }
    }

}