{% include 'incl/headsection.twig' %}

<body>
    <div class="pagewrapper">
        {% include 'incl/pageheader.twig' %}
    
        <div class="main" role="main">
            <div class="techwrapper">
            {{ content }}
            </div>
        </div>
        
        {% include 'incl/footer.twig' %}
    </div>
</body>

</html>
