
pre {
    padding: 0 1em;
    border: 1px solid $border-color;
    border-radius: 0.3em;
    background: $content-background-color;
}

pre code {
    display: block;
    margin: 0;
    padding: 1em 0;
    overflow-x: auto;
    line-height: 1.4;
}